.header {
  @apply flex justify-between items-center px-2 py-2.5 border-b border-gray-light dark:border-gray-dark;
}

.input {
  outline: none;
  width: 250px;
  @apply border border-gray-light dark:border-gray-dark rounded-md py-1 pl-2.5 pr-7 h-8 dark:bg-black-secondary;
}

.inputClearBtn {
  top: 50%;
  transform: translateY(-50%);
  @apply flex absolute right-1 bg-transparent text-gray-dark hover:text-inherit duration-100;
}

.burgerMenuBtn {
  @apply bg-transparent p-1 flex justify-center items-center lg:hidden;
}

.searchBtn {
  @apply hidden lg:flex p-1 rounded-md justify-center items-center bg-transparent border border-gray-light dark:border-gray-darker;
}
.searchBtnOpen {
  @apply border-brown-light bg-brown-light/25 dark:bg-brown-dark/25 dark:border-brown-dark;
}

.switchBtn {
  @apply p-1 rounded-md flex justify-center items-center bg-brown-light dark:bg-brown-dark border border-transparent;
}