/* BASE STYLES */
h1, h2, h3, h4, h5, h6 {
  @apply font-500 leading-none;
}
h1 {
  font-size: 3rem; /* 48px */
  @apply mb-6;
}
h2 {
  font-size: 2.5rem; /* 40px */
  @apply mb-4;
}
h3 {
  font-size: 2rem; /* 32px */
  @apply mb-3;
}
h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  @apply mb-2;
}
h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  margin-bottom: 0.375rem; /* 6px */
}
h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  @apply mb-1;
}

p {
  margin: 10px 0;
  @apply dark:text-gray-textLighter;
}

ul, ol {
  margin: 10px 0;
}
ul li::before {
  content: "-";
  @apply mr-2;
}
.no-before li::before {
  content: none;
  @apply mr-0;
}


/* CUSTOM STYLES */
body {
  @apply transition-colors bg-white dark:bg-black-main dark:text-white-darker font-inter font-300;
}

#root {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  @apply grid h-svh;

  & > header {
    @apply col-span-2;
  }

  & > aside {
    transition: width 0.3s ease, opacity 0.3s ease, padding-left 0.3s ease;
    @apply overflow-hidden border-r border-gray-light dark:border-gray-dark px-0 pt-4 w-0 opacity-0 lg:px-4 lg:opacity-100 lg:w-[200px];

    &.open {
      @apply px-4 w-[200px] opacity-100;
    }
  }

  & > main {
    @apply py-4 px-8;
  }
}
